<section class="hero-image search-filter-middle height-500">
    <div class="inner">
        <div class="container">
            <h1>Lets eat. But where?</h1>
        </div>
    </div>
    <div class="background">
        <%= image_tag('bg1.jpg',  alt: "Feed Me hero image") %>
    </div>
</section>