<div class="header">
        <div class="wrapper">
        <div class="brand">
                <a href="index-restaurants.html">
                        <%= image_tag('logo-restaurants.png') %>
                </a>
        </div>
        
        <nav class="navigation-items">
                <div class="wrapper">
                <ul class="main-navigation navigation-top-header"></ul>
                <ul class="user-area">
                        <% if user_signed_in? %>
                                <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>        
                        <% else %>
                                <%= link_to 'Sign In', new_user_session_path  %>  
                        <% end %>
                        <%= link_to "<strong>Register</strong>".html_safe , new_user_registration_path  %>
                </ul>

                </div>
        </nav>
        </div>
</div>

 