<div class="nav-container">
    <nav>
        <div class="nav-utility">
            <div class="module left">
                <i class="ti ti-pencil-alt">&nbsp;</i>
                <span class="sub">Write a review</span>
            </div>
            <div class="module left">
                <i class="ti-email">&nbsp;</i>
                <span class="sub">hello@fatgiant.com</span>
            </div>
            <div class="module right">
                <a class="btn btn-sm" href="#">Login</a>
            </div>
        </div>
        <div class="nav-bar">
            <div class="module left">
                <a href="index.html">
                    <img class="logo logo-light" alt="Foundry" src="img/logo-light.png">
                    <img class="logo logo-dark" alt="Foundry" src="http://res.cloudinary.com/saintograph/image/upload/v1472199925/logo_tg1su8.png">
                </a>
            </div>
            <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                <i class="ti-menu"></i>
            </div>
            <div class="module-group right">
                <div class="module left">
                    <ul class="menu">
                        <li>
                            <a href="#">Single</a>
                        </li>
                    </ul>
                </div>

            </div>
            
        </div>
    </nav>
</div>